.footer, .footer--text {
  height: 350px;
  background-color: #22201F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer--text {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 0px;
  width: 250px;
  max-width: 80%;
}

.w-L {
  width: 400px;
}

.w-xL {
  width: 550px;
}

.social, .social--buttons, .social--icon, .social--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social--buttons {
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 98%;
}

.social--icon {
  height: 14px;
}

.social--text {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 400px;
  margin-top: 10px;
  max-width: 98%;
}

@media (max-width: 300px) {
  .social--text {
    font-size: 8px;
  }
}

.hero-logo {
  height: 50%;
}

@media (max-width: 300px) {
  .hero-logo {
    height: 40%;
  }
}

.about-intro-content-box {
  height: 169px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100pt;
  text-align: center;
  max-width: 80%;
}

@media (max-width: 1440px) {
  .about-intro-content-box {
    font-size: 100pt;
  }
}

.about-intro-text {
  max-width: 100%;
}

@media (max-width: 576px) {
  .about-intro-text {
    font-size: 50pt;
  }
}

.about {
  max-width: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text, .about-text--l, .about-text--s {
  line-height: 35px;
  text-align: center;
  max-width: 620px;
}

.about-text--l {
  font-size: 18px;
  font-weight: 800;
}

.about-text--s {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 31px;
}

.about-logo {
  height: 20%;
  margin-top: 5%;
}

.date, .date--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date--box {
  background-color: #22201F;
  width: 261px;
  height: 63px;
}

.date--text {
  font-size: 15px;
}

.about-item, .about-item--photo, .about-item--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
}

@media (max-width: 300px) {
  .about-item, .about-item--photo, .about-item--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .about-item, .about-item--photo, .about-item--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .about-item, .about-item--photo, .about-item--text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.about-item--photo {
  width: inherit;
  max-width: 395px;
  height: 20%;
  margin-right: 15px;
}

@media (max-width: 992px) {
  .about-item--photo {
    margin: 0;
  }
}

.about-item img, .about-item--photo img, .about-item--text img {
  height: inherit;
  max-width: 100%;
}

.about-item--text {
  width: inherit;
  height: 255px;
  font-size: 12px;
  line-height: 32px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 15px;
  max-width: 395px;
}

.flip .about-item--photo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0px;
  margin-left: 15px;
}

@media (max-width: 992px) {
  .flip .about-item--photo {
    margin: 0;
  }
}

.flip .about-item--text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 15px;
  margin-left: 0px;
  text-align: right;
}

.content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  -webkit-box-shadow: 0px 40px 0px black, 0px 80px 0px black;
          box-shadow: 0px 40px 0px black, 0px 80px 0px black;
}

.circle-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-intro-content-box {
  background-color: #22201F;
  height: 600px;
  width: 469px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .home-intro-content-box {
    width: 380px;
  }
}

.intro, .intro--title, .intro--body, .intro--cta {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}

.intro--title {
  width: 60%;
  font-size: 23px;
  margin-bottom: 25px;
  line-height: 30pt;
}

@media (max-width: 576px) {
  .intro--title {
    width: 70%;
  }
}

@media (max-width: 300px) {
  .intro--title {
    margin-top: 100px;
    line-height: 20pt;
    font-size: 20px;
  }
}

.intro--body {
  font-weight: 200;
  width: 75%;
  font-size: 14px;
  line-height: 25pt;
}

.intro--cta {
  background-color: #D32637;
  width: 193px;
  height: 43px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 300px) {
  .intro--cta {
    margin-top: 50px;
  }
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  padding-top: 20px;
  padding-left: 20px;
  max-width: 100%;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bar {
  background-color: #22201F;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  z-index: 3;
}

.bar > .nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

.active {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-background, .container-background--hero, .container-background--baseline, .container-background--long-about {
  height: 780px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-color: #22201F;
  background-position: center center;
}

.container-background--hero {
  height: 100vh;
}

.container-background--baseline {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 600px;
}

.container-background--long-about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
  max-width: 100%;
}

.spacer-small {
  margin-top: 25px;
}

.spacer-circle {
  margin-top: 38px;
}

.spacer-medium {
  margin-top: 50px;
}

.spacer-large {
  margin-top: 100px;
}

.spacer-xl {
  margin-top: 150px;
}

.spacer-xxl {
  margin-top: 200px;
}
/*# sourceMappingURL=main.css.map */