.home-intro-content-box {
    background-color: $grey;
    height: 600px;
    width: 469px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sm {
        width: 380px;
    }
}

.intro {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    

    &--title{
        @extend .intro;
        width: 60%;
        font-size: 23px;
        margin-bottom: 25px;
        line-height: 30pt;
        @include sm {
            width: 70%;
        }
        @include xs {
            margin-top: 100px;
            line-height: 20pt;
            font-size: 20px;
        }
    
    }

    &--body{
        @extend .intro;
        font-weight: 200;
        width: 75%;
        font-size: 14px;
        line-height: 25pt;
    }

    &--cta{
        @extend .intro;
        background-color: $ctaRed;
        width: 193px;
        height:43px;
        margin-top: 30px;
        font-weight: 700;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xs {
            margin-top:50px;
        }
    }

    

}

